@using UniversityManagementSystem05.Models;
@{
    ViewBag.Title = "ViewAllDepartments";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<DepartmentModel> list = ViewBag.DepartmentList;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br />
    <br />
    <h3 align="center">Deparments with Code and Name</h3>
    <div align="center">
        @if (ViewBag.MessageViewDepartments != null)
        {
            <span>@ViewBag.MessageViewDepartments</span>
        }
        <br />

    </div>

    <div class="col-md-offset-1 col-md-10">

        <table class="table table-hover">

            <thead>
                <tr>
                    <th scope="col">Deparment Code</th>
                    <th scope="col">Deparment Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DepartmentModel aDepartmentModel in list)
                {
                    <tr class="table-active">
                        <td> @aDepartmentModel.DepartmentCode </td>
                        <td> @aDepartmentModel.DepartmentName </td>
                        <td> <a href="@Url.Action("EditDepartmentFromList", "Department", new { DepartmentId=aDepartmentModel.DepartmentId})">Edit</a> | <a href="@Url.Action("DeleteDepartmentFromList", "Department", new { DepartmentId=aDepartmentModel.DepartmentId})">Delete</a> </td>
                    </tr>
                }

            </tbody>
        </table>
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ViewAllDepartments", "Department")'">View List</button>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Column heading</th>
                <th scope="col">Column heading</th>
                <th scope="col">Column heading</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <th scope="row">Active</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr>
                <th scope="row">Default</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">Primary</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Secondary</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-success">
                <th scope="row">Success</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">Danger</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">Warning</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-info">
                <th scope="row">Info</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-light">
                <th scope="row">Light</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-dark">
                <th scope="row">Dark</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
        </tbody>
    </table>
    @*<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div  >
                        @if (list.Count != 0)
                        {
                            <form method="get" action="ViewAllDepartments">
                                <fieldset>
                                    <legend class="text-primary">Deparments with Code and Name</legend>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-condensed table-striped" align="center">
                                            <tr>
                                                <th class="info" > <div class="text-center ">Deparment Code</div> </th>
                                                <th class="info" ><div class="text-center">Deparment Name</div></th>
                                                <th class="info"  ><div class="text-center ">Action</div></th>
                                            </tr>
                                            @foreach (DepartmentModel aDepartmentModel in list)
                    {
                                                <tr>
                                                    <td align="center" > @aDepartmentModel.DepartmentCode </td>
                                                    <td align="center"> @aDepartmentModel.DepartmentName </td>
                                                    <td align="center"> <a href="@Url.Action("EditDepartmentFromList", "Department", new { DepartmentId=aDepartmentModel.DepartmentId})">Edit</a> | <a href="@Url.Action("DeleteDepartmentFromList", "Department", new { DepartmentId=aDepartmentModel.DepartmentId})">Delete</a> </td>
                                                </tr>
                                            }

                                        </table>
                                    </div>
                                </fieldset>
                            </form>

                        }

                    </div>
                </div>
            </div>
        </div>*@



</body>
</html>



@*@if (list.Count != 0)
{
    <form method="get" action="ViewAllDepartments">
        <fieldset>
            <legend>Deparments with Code and Name</legend>

            <table align="center" border="1">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                @foreach (DepartmentModel aDepartmentModel in list)
                {
                    <tr>
                        <td align="center"> @aDepartmentModel.departmentCode </td>
                        <td align="center"> @aDepartmentModel.departmentName </td>
                        <td align="center"> <a href="@Url.Action("EditDepartmentFromList", "Department", new { departmentId=aDepartmentModel.departmentId})">Edit</a> | <a href="@Url.Action("DeleteDepartmentFromList", "Department", new { departmentId=aDepartmentModel.departmentId})">Delete</a> </td>
                    </tr>
                }

            </table>
        </fieldset>
    </form>

}*@