@using UniversityManagementSystem05.Models;
@{
    ViewBag.Title = "EditCourseFromList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var depts = ViewBag.Depts;
    var sems = ViewBag.Sems;
}

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    @*<title>Bootstrap 101 Template</title>*@

    <!-- Bootstrap -->

    <link href="~/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/customDesign/css/SaveDepartmentCss.css" rel="stylesheet" />

</head>



<body>
    @*<h2>EditDepartmentFromList</h2>*@

    <br />
    <br />


    <div align="center">
        @if (ViewBag.Message != null)
        {
            <span id="success-alert" class="i">@ViewBag.Message</span>
        }
    </div>

    <br />

    <div class="col-lg-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Edit Course</h2>
            </div>
            <div class="panel-body">
                <div>
                    <div class="container">
                        <div class="row col-md-12">
                            <form method="post" action="EditCourseFromList" class="form-horizontal col-md-12">

                                <input type="hidden" name="courseId" value="@Model.courseId" />




                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Course Code</label>
                                    <div class="col-md-10"><input class="form-control" type="text" maxlength="7" minlength="2" name="courseCode" value="@Model.courseCode" required /> </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Course name:</label>
                                    <div class="col-md-10"><input class="form-control" type="text" name="courseName" value="@Model.courseName" required /> </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Course Credit:</label>
                                    <div class="col-md-10"><input class="form-control" type="text" name="courseCredit" value="@Model.courseCredit" required /> </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Course Description:</label>
                                    <div class="col-md-10"><input class="form-control" type="text" name="courseDescription" value="@Model.courseDescription" /> </div>
                                </div>

                                @*<div class="form-group col-md-12">
                                        <label class="control-label col-md-2">Course department:</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" name="Department.departmentName" value="@Model.Department.departmentName" required />
                                        </div>
                                    </div>*@

                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 ">Course department:</label>
                                    <div class="col-md-10">
                                        <select class="form-control" required name="departmentId" id="departmentDropdownId">
                                            <option value="0" ></option>
                                            @foreach (var a in depts)
                                            {
                                                if (a.departmentId == Model.departmentId)
                                                {
                                                    <option selected value="@a.departmentId">@a.departmentName</option>
                                                }
                                                else
                                                {
                                                    <option value="@a.departmentId">@a.departmentName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                @*<div class="form-group col-md-12">
                                        <label class="control-label col-md-2">Course Semester:</label>
                                        <div class="col-md-10"><input class="form-control" type="text" name="Semester.semesterName" value="@Model.Semester.semesterName" required /> </div>
                                    </div>*@
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 ">Course Semester:</label>
                                    <div class="col-md-10">
                                        <select class="form-control" required name="semesterId">
                                            <option value="0" ></option>
                                            @foreach (var a in sems)
                                            {
                                                if(a.semesterId == @Model.semesterId)
                                                {
                                                    <option selected value="@a.semesterId">@a.semesterName</option>
                                                }
                                                else
                                                {
                                                    <option value="@a.semesterId">@a.semesterName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group col-md-12">

                                    <div class="col-md-4 col-md-offset-8 col-xs-6 col-xs-offset-6  btn-group">
                                        <input class="btn btn-default col-md-6 col-xs-6" type="button" value="Cancel" onclick="location.href='@Url.Action("ViewAllCourses", "Course")'" />
                                        <input class="btn btn-default col-md-6 col-xs-6" type="submit" value="Update" />
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>

</html>


@*<script type='text/javascript'>
    $(function () {
        $("#departmentDropdownId").click(function () {
            //alert("department dropdown clicked");
            $("#departmentDropdownId").empty();
            //alert("department dropdown emptied");
            //var department = $("#departmentDropdownId").val();
            //var jasonData = { dept: department };
            $.ajax({//to get the list of teachers from selected department
                    type: "POST",
                    url: '@Url.Action("GetDepartments", "Course")',
                    contentType: "application/json; charset=utf-8",
                    //data: JSON.stringify(jasonData),
                    dataType: "json",
                
                success: function (data) {
                    $("#departmentDropdownId").append('<option '  +  '>' + '</option>');
                    $.each(data, function (key, value) {
                        $("#departmentDropdownId").append('<option value=' + value.departmentName + '>' + value.departmentName + '</option>');
                    });
                },
                failure: function (response) { alert(response.d); },
                error: function (response) { alert(response.d); }
            });//return false;
            //debugger;

        });

    });



</script>*@

