
@{
    ViewBag.Title = "SaveTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var designations = ViewBag.designations;
    var departments = ViewBag.departments;

}

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    @*<title>Bootstrap 101 Template</title>*@

    <!-- Bootstrap -->

    <link href="~/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <br />
    <br />
    @*<h2 class="text-primary" align="center">Save Teacher</h2>*@





    <div align="center">
        @if (ViewBag.Message  != null)
        {
        <div id="msgId">  <span id="success-alert" class="text-danger">@ViewBag.Message</span> </div>
        }
    </div>

    <br />
    <br />

    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Save Teacher</h2>
            </div>
            <div class="panel-body">
                <div>
                    <div class="container  ">
                        <div class="row col-md-12">
                            <form method="post" action="SaveTeacher" class="form-horizontal col-md-12">
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Teacher Name</label>
                                    <div class="col-md-10"><input placeholder="Enter Teacher Name" class="form-control" type="text" name="TeacherName" id="nameId" required /> </div>
                                </div>
                                @*<div class="col-lg-offset-2 col-md-10 " id="nameErrorId"></div>*@
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Teacher Address</label>
                                    <div class="col-md-10"><input placeholder="Enter Teacher Address" class="form-control" type="text" name="TeacherAddress" id="addressId" required /></div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Teacher Email</label>
                                    <div class="col-md-10">  <input placeholder="Enter Teacher Email" class="form-control" type="email" name="TeacherEmail" id="emailId" required />   </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Teacher Number </label>
                                    <div class="col-md-10"> <input placeholder="Enter Teacher Phone Number" class="form-control" type="tel" name="TeacherNumber" id="numberId" required />    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 ">Teacher Designation</label>
                                    <div class="col-md-10">
                                        <select class="form-control" required name="DesignationId" id="designationDropdownId">
                                            <option ></option>
                                            @foreach (var a in designations)
                                               {
                                                    <option value="@a.DesignationId">@a.Designation</option>
                                                }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Department</label>
                                    <div class="col-md-10">
                                        <select class="form-control" required name="DepartmentId" id="departmentDropdownId">
                                            <option ></option>
                                            @foreach (var aDepartmentModel in departments)
                                                 {
                                                    <option value="@aDepartmentModel.DepartmentId">@aDepartmentModel.DepartmentName</option>
                                                 }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2">Credit to be taken </label>
                                    <div class="col-md-10">
                                        <input placeholder="Enter Credit to be taken" class="form-control" type="number" min="1" name="TeacherCreditToBeTaken" id="creditId" required />
                                        @*<input class="form-control" type="text" name="courseCredit" max="5.0" min="0.5" step="0.5" required />*@
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-4 col-md-offset-8 col-xs-6 col-xs-offset-6  btn-group">
                                        <input class="btn btn-default col-md-6 col-xs-6" type="button" value="View List" onclick="location.href='@Url.Action("ViewAllTeachers", "Teacher")'" />
                                        <input class="btn btn-default col-md-6 col-xs-6" type="submit" value="Submit" id="submitBtnId" />
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @*</div>*@



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>

</html>





<script type='text/javascript'>
    $(function () {
        @*$(window).on('load', function () {
            // your logic here`enter code here`
            

           // $("#msgId").show().delay(3000).fadeOut();
           // $("#msgId").show().fadeIn('slow').delay(5000000000).hide();
             @if (@ViewBag.Message != null)
             {
                 $('#msgId').hide().html(data).fadeIn('slow').delay(5000).hide(1);
             }
            
             });*@
    });
    

</script>
