@using UniversityManagementSystem05.Models;
@{
    ViewBag.Title = "ViewAllTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<TeacherModel> list = ViewBag.TeacherList;
}


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <br />
    <br />
    <h2 align="center">View All Teachers</h2>
    <div align="center">
        @if (ViewBag.Message != null)
        {
            <span id="success-alert" class="text-primary">@ViewBag.Message</span>
        }
        <br />
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    @if (list.Count != 0)
                    {
                        <form method="get" action="ViewAllTeachers">
                            <fieldset>
                                <legend class="text-primary">Teachers in details</legend>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-condensed table-striped" align="center">
                                        <tr>
                                            <th class="info"> <div class="text-center ">Teacher Name</div> </th>
                                            <th class="info"><div class="text-center">Teacher Address</div></th>
                                            <th class="info"><div class="text-center">Teacher Email</div></th>
                                            <th class="info"><div class="text-center">Teacher Number</div></th>
                                            <th class="info"><div class="text-center">Teacher Designation</div></th>
                                            <th class="info"><div class="text-center">Teacher Department</div></th>
                                            <th class="info"><div class="text-center">Teacher Teacher Credit To Be Taken</div></th>
                                            <th class="info"><div class="text-center ">Action</div></th>
                                        </tr>
                                        @foreach (TeacherModel aTeacherModel in list)
                                        {
                                            <tr>
                                                <td align="center"> @aTeacherModel.TeacherName</td>
                                                <td align="center"> @aTeacherModel.TeacherAddress </td>
                                                <td align="center"> @aTeacherModel.TeacherEmail </td>
                                                <td align="center"> @aTeacherModel.TeacherNumber </td>
                                                <td align="center"> @aTeacherModel.Designation.Designation </td>
                                                <td align="center"> @aTeacherModel.Department.DepartmentName </td>
                                                <td align="center"> @aTeacherModel.TeacherCreditToBeTaken </td>
                                                <td align="center"> <a href="@Url.Action("EditTeacherFromList", "Teacher", new { teacherId=aTeacherModel.TeacherId})">Edit</a> | <a href="@Url.Action("DeleteTeacherFromList", "Teacher", new { teacherId=aTeacherModel.TeacherId})">Delete</a> </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </fieldset>
                        </form>

                    }

                </div>
            </div>
        </div>
    </div>



    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Column heading</th>
                <th scope="col">Column heading</th>
                <th scope="col">Column heading</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <th scope="row">Active</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr>
                <th scope="row">Default</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">Primary</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Secondary</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-success">
                <th scope="row">Success</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">Danger</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">Warning</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-info">
                <th scope="row">Info</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-light">
                <th scope="row">Light</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-dark">
                <th scope="row">Dark</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
        </tbody>
    </table>



</body>
</html>
